html,
body {
  padding: 0;
  margin: 0;

  font-family: "Edu TAS Beginner", cursive;

  font-family: "Merriweather", serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: Merriweather;
}

.validation_error {
  color: red;
}
.succes_login {
  color: green;
}
.hero_bidders_font {
  font-family: Edu TAS Beginner;
  color: rgb(75, 75, 10);
}
button {
  cursor: pointer;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
/* NAV */
.nav_container {
  background-color: #4990e2;
}
.nav_Main_Container {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}
.nav_Main_Container p {
  font-size: 0.7rem;
}
.nav_social_icons {
  display: flex;
  fill: white;
  align-items: center;
  gap: 1em;
}

.nav_Accounts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2em;
}
.nav_Account_icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3em;
}

/* subnav */
.subnav_container {
  width: 80%;
  margin: 0 auto;
}
.sub_nav_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.subnav_login {
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: space-between;
  align-items: center;
}
.subnav_credentials {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #4990e2;
}
.subNav_input {
  display: flex;
  gap: 0.6em;
  margin-top: 0.3em;
  align-items: center;
  border: 1px solid #4990e2;
  border-radius: 4px;
  padding: 0em 0.5em;
}
.subNav_input input {
  padding: 0 3em;
  font-size: 1rem;
  border: none;
  outline: none;
}
.subnav_Amount {
  color: green;
}
.subNav_list_container {
  width: 80%;
  margin: 0 auto;
}
.subNav_list_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.8em 0;
}
.dropDownItem{
  display: none;
}
.username{
  position: relative;
}
.dropDown{
  border: .3px solid rgb(230, 221, 221);
  background-color: rgb(224, 204, 204);
  border-radius: 4px;
  font-size: .5rem;
  position: absolute;
}
/* MAIN */
.main_container {
  background-image: url("../public/images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 80vh;
}

.main_span {
  border-bottom: 6px solid yellow;
}
.main_haeding {
  font-size: 2rem;
  line-height: 5rem;
  text-align: center;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main_haeding h1 {
  align-items: center;
}
.main_button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin: 0 auto;
  padding: 0 auto;
}
.main_btn1 button {
  background-color: yellow;
  border: none;
  border-radius: 4px;
  padding: 0.5em 0.4em;
}
.main_btn2 button {
  background-color: wheat;
  border: none;
  color: black;
  border-radius: 4px;
  padding: 0.5em 0.4em;
}
/* HERO */
.hero_container {
  width: 80%;
  margin: 0 auto;
}
.hero_heading1 {
  text-align: center;
  color: #4990e2;
}
.hero_items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  flex-wrap: wrap;
}
.hero_sinle_item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hero_bid_heading h2 {
  text-align: center;
  color: #4990e2;
  margin-top: 2em;
}
.hero_Biding {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8em;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}
.hero_Biding button {
  background-color: green;
  padding: 0.5em 1em;
  border: none;
  border-radius: 4px;
  color: white;
  margin-bottom: 3em;
}
.hero_banks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: 0 auto;
}
.hero_bank_container h2 {
  text-align: center;
  color: #4990e2;
  margin-top: 2em;
}
.hero_service_icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}
.hero_service_container h2 {
  text-align: center;
  color: #4990e2;
  margin-top: 1em;
}
/* FOOTER */
.footer_main_container {
  background-color: black;
  height: 40vh;
  color: white;
}
.footer_Container {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto;
  align-items: center;
}
.footer_help_links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer_contact .footer_contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* ONGOING BID */
.bid_main_container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}
.singleBiddingItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  flex-direction: row;
  margin: 0 auto;
}
.biddingpage_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}
.inputbtn {
  outline: none;
  border: 1px solid blue;
  border-radius: 4px;
}
.bid_image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bid_sub_main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.bid_cont_time {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bid_cont_time p {
  background-color: orange;
  padding: 0.3em;
  color: white;
}
.bid_sold p {
  background-color: green;
}
.bid_clock_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4em;
  color: red;
}
.bid_price {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  color: green;
}
.bid_description p {
  width: 60%;
  margin: 0 auto;
}
.bid_price button {
  background-color: green;
  padding: 0.3em;
  color: white;
  border: none;
  border-radius: 4px;
}
.bid_desc_cont {
  width: 100%;
  background-color: #97c3f5;
  padding: 1.5em 0.8em;
  margin-top: 0.7em;
}
.bid_first_container {
  flex: 1;
}
.bid_sec_container {
  flex: 1;
}
.bid_third_container {
  flex: 1;
}
/* POST PRODUCT */
.postproduct_main_container button {
  background-color: green;
  color: white;
  padding: 0.3em 0.7em;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.postproduct_btn {
  background-color: green;
  color: white;
  padding: 0.3em 0.7em;
  border: none;
  width: 10%;
  margin: 0 auto;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.postproduct_main_container {
  width: 80%;
  margin: 0 auto;
}
.postProduct_background_image {
  background-image: url(../public/images/postimg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
}
.postproduct_input {
  display: flex;
  align-items: center;
  flex-direction: column;
 }
.postproduct_input input {
  width: 70%;
  outline: none;
}
.postproduct_input_label {
  width: 50%;
}
.postproduct_input_label_item {
  width: 50%;
}
.postproduct_input_label_item1 {
  width: 70%;
}
.postproduct_form_container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  background-color: #fff;
  opacity: 0.7;
}
.postproduct_form_container h1 {
  text-align: center;
  color: #0f78f0;
}
.singlePost :hover {
  width: 100px;
  transition: width 2s, height 4s;
  border: 1px solid #0f78f0;
  border-radius: 4px;
}

/* LOGIN */
.login_main_container {
  width: 50%;
  margin: 0 auto;
}
.login_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
.login_second_container {
  margin-top: 1em;
}

.login_google {
  display: flex;
  align-items: center;
  gap: 1em;
  background-color: #0f78f0;
  color: white;
  width: 100%;
  cursor: pointer;
}
.login_bid_icon {
  display: flex;

  margin-left: 3em;
  flex-direction: column;
}
.login_inputs {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1em;
  margin-top: 0.8em;
}
.login_inputs input {
  border: 1px solid black;
  border-radius: 4px;
  padding: 0.4em 0;
  width: 100%;
  outline: none;
}
.login_main_container button {
  background-color: #0f78f0;
  color: white;
  padding: 0.6em 1.4em;
  border-radius: 4px;
  border: none;
  outline: none;
  margin-left: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.6em;
}

/* SIGNUP */
.signup_main_container {
  width: 70%;
  margin: 0 auto;
}
.signup_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
.signup_second_container {
  /* flex: 1; */
  margin-top: 1em;
}

.signup_google {
  display: flex;
  align-items: center;
  gap: 1em;
  background-color: #0f78f0;
  color: white;
  width: 100%;
}
.signup_bid_icon {
  display: flex;
  margin-left: 3em;
  flex-direction: column;
}
.signup_inputs {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1em;
  margin-top: 0.8em;
}
.signup_icon_visibility {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  outline: none;
  border-radius: 4px;
}
.signup_password_input input {
  border: none;
  outline: none;
}
.signup_single_inputs input {
  border: 1px solid black;
  border-radius: 4px;
  padding: 0.4em 0;
  width: 100%;
  outline: none;
}

.signup_main_container button {
  background-color: #0f78f0;
  color: white;
  padding: 0.6em 1.4em;
  border-radius: 4px;
  margin-left: 4em;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.6em;
}

/* BIDDINGPAGE */
.biddingpage_main_container {
  width: 80%;
  margin: 0 auto;
}

.biddingpage_second_container {
  width: 27%;
}
.biddingpage_first_container {
  margin-top: 3em;
  width: 26%;
}
.biddingpage_third_container {
  margin-top: 1em;
  width: 26%;
}
.biddingPage_time_container1 {
  /* display: flex; */
  /* background-color: #8fbdf1; */
  /* flex-direction: row; */
  /* align-items: flex-end; */
  /* align-items: center; */
  /* gap: 0.6em; */
  /* justify-content: flex-end; */
}

.biddingPage_time {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.biddingPage_time_container {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.biddingpage_price_of_items_container h2 {
  text-align: center;
  color: #0f78f0;
}
.biddingpage_price_of_items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.4em 0;
}
.biddingpage_price_of_items_button_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  margin: 1em 0;
}
.biddingpage_price_of_items_button_container button {
  border: none;
  background-color: #0f78f0;
  padding: 0.9em 2em;
  color: white;
  border-radius: 4px;
}
.biddingpage_price_of_items_button_container_bid_now {
  display: flex;
  align-items: center;
  justify-content: center;
}

.biddingpage_price_of_items_button_container_bid_now button {
  margin: 0.5em 0;
  border: none;
  background-color: #0f78f0;
  padding: 0.5em 1em;
  color: white;
  border-radius: 4px;
}
.biddingpage_wathed_details_container {
  background-color: #0f78f0;
  color: white;
  margin-bottom: 1em;
}
.biddingpage_wathed_details {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3em;
}
.biddingpage_highest_bid {
  text-align: center;
}
.biddingpage_highest_bid p {
  color: yellow;
}
.biddingpage_highest_bid h5 {
  border-bottom: 1px solid black;
  width: 80%;
  margin: 0 auto;
}
.biddingpage_vehicle_properties {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  margin: 1em 0;
  background-color: rgb(211, 208, 208);
}
.bidingpage_propery_heading h2 {
  text-align: center;
  color: #0f78f0;
}

/* MY ACCOUNT */
.myaccount_main_container {
  width: 80%;
  margin: 0 auto;
}
.myaccount_bids_posts {
  display: flex;
  align-items: center;
  gap: 3em;
  justify-content: space-between;
}
.myaccount_post_cont1 {
  flex: 1;
  width: 40%;
  border: 2px solid #0f78f0;
  border-radius: 4px;
  text-align: center;
}
.myaccount_bid_cont1 {
  flex: 1;
  text-align: center;
  background-color: #0f78f0;
  width: 40%;
  color: white;
  border-radius: 4px;
}
.myaccount_bal_container {
  display: flex;
  justify-content: center;
  gap: 3em;
  align-items: center;
}
.myaccount_bal_container p {
  color: green;
}
.myaccount_bal_container button {
  background-color: #0f78f0;
  color: white;
  padding: 0.7em 1em;
  border: none;
  border-radius: 4px;
}
.myaccount_container {
  margin: 1em 0;
}
.myaccount_bid_items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  border: 2px solid #0f78f0;
  margin: 1em 0;
}

/* LAND */
.land_container {
  background-color: #97beeb;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
}
.land_container input {
  width: 100%;
  border: 1px solid black;
  outline: none;
  border-radius: 4px;
  margin-top: 0.7em;
}
.land_container textarea {
  width: 100%;
  height: 10vh;
  outline: none;
  border: 1px solid black;
  border-radius: 4px;
}
.land_textarea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* clothing */
.clothing_container {
  background-color: #97beeb;
  padding: 0.3em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0.3em;
  width: 80%;
  margin: 0 auto;
}

/* DASHBOARD */
.dashboard_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  gap: 1em;
}

.dashboard_container p {
  width: 60%;
}

.dashboard_items p span {
  color: green;
  font-family: Edu TAS Beginner;
}
.dashboard_container button {
  background-color: #0f78f0;
  color: white;
  padding: 0.7em 1em;
  border: none;
  border-radius: 4px;
}
.dashboard_firstButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 3em;
}
.dashboard_firstButton button {
  background-color: #0f78f0;
  color: white;
  padding: 0.7em 1em;
  border: none;
  border-radius: 4px;
  margin: 0.7em 0;
}
.dashboard_clickButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  margin: 0.7em 0;
}
/* FAQ */
.faq_main_items {
  width: 80%;
  margin: 0 auto;
}
.faq_main_items h4 {
  color: green;
}
.Terms_main_cont {
  width: 80%;
  margin: 0 auto;
}
.Terms_main_cont h4 {
  color: green;
}
/* EDIT PAGE */
.edit_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
  margin-top: 3em;
}
.edit_container input {
  padding: 0.7em 0;
  outline: none;
  border: 1px solid grey;
  border-radius: 4px;
  margin-top: 0.7em;
}
.edit_container button {
  background-color: #0f78f0;
  color: white;
  padding: 0.7em 1em;
  border: none;
  border-radius: 4px;
  margin: 0.7em 0;
}
.edit_btn {
  display: flex;
  align-items: center;
  gap: 0.3em;
  flex-direction: row;
}

/* MEDIA QUERIES */
@media (max-width: 768px), (max-width: 414px), (max-width: 816px) {
  /* NAV */
  .nav_social_icons {
    gap: 0.3em;
  }
  /* SUBNAV */
  .subnav_container img {
    width: 50px;
    margin-top: 0.7em;
  }
  .subnav_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
  }
  .subNav_input {
    display: none;
  }
  .subNav_list_item {
    font-size: 0.7rem;
    gap: 0.9em;
  }
  /* MAIN */
  .main_haeding h1 {
    font-size: 2rem;
  }
  /* HERO */
  .hero_items {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero_Biding {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero_service_icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8em;
  }
  /* PARTNERS */
  .hero_banks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8em;
  }
  /* FOOTER */
  .footer_main_container p {
    font-size: 0.6rem;
  }
  .footer_main_container h3 {
    font-size: 0.8rem;
  }
  .footer_main_container img {
    display: none;
  }
  .footer_main_container {
    display: flex;
    justify-content: space-between;
  }
  .footer_help_links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  /* MYACCOUNT */
  .myaccount_bal_container button {
    display: flex;
    font-size: 0.7rem;
  }
  .myaccount_bal_container p {
    font-size: 0.7rem;
  }
  /* DASHBOARD */
  .dashboard_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  /* LOGIN */
  .login_background_image {
    display: none;
  }
  .signup_background_image {
    display: none;
  }
  .biddingpage_main_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  /* .biddingpage_price_of_items_container h2 {
    font-size: 0.8rem;
    width: 100%;
  }
  .biddingpage_price_of_items_container input {
    width: 100%;
  } */
  .biddingpage_vehicle_properties {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding: 0.7em;
    font-size: 0.7rem;
  }
  .biddingpage_wathed_details_container {
    width: 100%;
  }
  .biddingpage_price_of_items p {
    font-size: 0.9rem;
  }
  .biddingpage_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .biddingpage_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
  }
  .biddingpage_price_of_items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3em;
    width: 100%;
  }
  .inputbtn {
    width: 100%;
  }
  .imgBid img {
    width: 200px;
  }
  /* POST */
  .postProduct_background_image img {
    width: 100%;
    height: 100vh;
    /* display: none; */
  }
  .postProduct_background_image p {
    font-size: 0.6rem;
    padding: 0 auto;
  }
  .postproduct_input {
    margin: 0 auto;
    padding: 0 auto;
  }
  .postProduct_background_image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
  }
  /* [bid] */
  .singleBiddingItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
  }
  .biddingpage_price_of_items{
    width: 100%;
  }
  .biddingpage_price_of_items_container{
display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: column;
  }
  .biddingpage_price_of_items {
display: flex;
gap: 1em;
}
  .biddingpage_price_of_items_container h2{
width: 100%;

font-size: 1rem;
  }
  .addminus{
    display: none;
  }
  .authenticity{
    display: none;
  }
}
